{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid",
  "singleAttributePerLine": true
}
