<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cordova - BluetoothLE @if (platformAvailable) {
      <ion-icon
        name="logo-ionic"
        color="success"></ion-icon>
      } @else {
      <ion-icon
        name="logo-ionic"
        color="danger"></ion-icon>
      } @if (pluginEnabled) {
      <ion-icon
        name="bluetooth"
        color="success"></ion-icon>
      } @else {
      <ion-icon
        name="bluetooth"
        color="danger"></ion-icon>
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cordova - BluetoothLE</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    @if (scanning) {
    <ion-button (click)="onClickStopScan()">Stop Scan</ion-button>
    } @else {
    <ion-button (click)="onClickStartScan()">Start Scan</ion-button>
    } @if (devicesFound && devicesFound.length>0) {
    <ion-list
      class="ion-margin-vertical"
      lines="none">
      @for (device of devicesFound; track $index) {
      <ion-item class="ion-padding">{{device}}</ion-item>
      }
    </ion-list>
    }
  </div>
</ion-content>
