<div class="content">
  @if (device) {
    <span class="content__info">
      <span>
        <strong>ID:</strong>
        {{ device.id ? device.id : "NA" }}
      </span>
      <span>
        <strong>Name:</strong>
        {{ device.name ? device.name : "NA" }}
      </span>
      <span>
        <strong>Connectable:</strong>
        {{ device.connectable ? device.connectable : "NA" }}
      </span>
      <!-- <span>
        <strong>Advertising:</strong>
        {{ device.advertising ? (device.advertising | json) : "NA" }}
      </span> -->
      <span>
        <strong>RSSI:</strong>
        {{ device.rssi ? device.rssi : "NA" }}
      </span>
    </span>
    <span class="content__actions">
      <ion-button (click)="onClickConnect()">Connect</ion-button>
    </span>
  }
</div>
